<a href="#/">Revenir aux articles</a>

<div ng-show="loading">Chargement ...</div>

<div ng-hide="loading">

	<h1>{{title}}</h1>

	<div ng-repeat="comment in comments | filter:{content: yourName} | orderBy:order">
		<p>
			<strong>{{comment.username | uppercase}}</strong> - {{comment.email | lowercase}} - de {{comment.city | uppercase}}</br>
			{{comment.content | lowercase}}
		</p>
		<input type="text" ng-model="yourName" placeholder="Enter your name"/>
	</div>

	<form ng-submit="addComment()">
		<input type="text" placeholder="username" ng-model="newComment.username"/><br/>
		<input type="text" placeholder="city" ng-model="newComment.city"/><br/>
		<input type="text" placeholder="email" ng-model="newComment.email"/><br/>
		<textarea ng-model="newComment.content"></textarea><br/>
		<input type="submit" value="Envoyer">
	</form>

</div>